<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Flask CMS">
    <title>{% block title %}{% endblock %}</title>
    <script defer src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" integrity="sha384-vuFJ2JiSdUpXLKGK+tDteQZBqNlMwAjhZ3TvPaDfN9QmbPb7Q8qUpbSNapQev3YF" crossorigin="anonymous"></script>
    <!-- Flask moment -->
    {{ moment.include_moment() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/mybulma.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/app.css') }}" type="text/css">
  </head>
  <body>
    {% block content %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
  </body>
</html>
