{% extends "shared/base.html" %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <article class="message is-{{ category }}">
        <div class="message-body">{{ message }}</div>
      </article>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="container">
  <div class="columns is-justify-content-center pt-6 pl-2 pr-2">
    <div class="column is-narrow">
      <div class="hero is-small is-primary">
        <div class="hero-body">
          <div class="columns is-vcentered is-mobile">
            <div class="column is-narrow">
              <img src="{{ url_for('static', filename='images/crown.svg') }}" width="60"/>
            </div>
            <div class="column">
              <p class="title is-4 has-text-white">Flask CMS</p>
            </div>
          </div>
        </div>
      </div>
      {% block app_content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}

