{% extends "admin_auth/base_auth.html" %}
{% block title %}Forgot Password{% endblock %}

{% block app_content %}
<form action="{{ url_for('admin_auth.forgot_password') }}"  method="post" class="box">
{{ form.csrf_token }}
  <div class="field">
    {{ form.email.label(class_="label") }}
    <p class="control has-icons-left">
      {{ form.email(class_="input") }}
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </p>
    {% for error in form.email.errors %}
    <p class="help is-danger">{{ error }}</p>
    {% endfor %}
  </div>

  <div class="field">
    <div class="control">
      {{ form.submit(class_="button is-link") }}
    </div>
  </div>
</form>
<div class="container is-size-7" style="text-align: center;">
  <a href="{{ url_for('admin_auth.login') }}">Ready to sign in?</a>
</div>
{% endblock %}
